{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
	"inline-dotenv",
	"styled-jsx/babel"
      ]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables", "styled-jsx/babel"]
    }
  }
}
